@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#feature {
    padding: 40px 0;
  
    .container {
      max-width: 1140px;
      margin: 0 auto;
    }
  
    h1 {
      color: var(--primary-text); /* Use your primary text color */
      margin-bottom: 30px; /* Spacing below the title */
      border-bottom: 3px solid var(--primary-base-color); /* Border under the title */
      padding-bottom: 10px;
    }
  
    .row {
      justify-content: space-between; /* Space between columns */
    }

    .text-center {
      text-align: center;
      position: relative;
      z-index: 1;
    }
  
    .col-lg-4 {
      flex-basis: calc(33.33333% - 30px);
      margin: 0 15px 30px;
      border-radius: 28px;
      display: block;
      padding: 30px 20px;
      background-color: var(--secondary-background); /* Use your secondary base color */
      overflow: hidden;
      position: relative;

    .circle {
      height: 128px;
      width: 128px;
      background-color: #f9b234;
      z-index: 0;
      position: absolute;
      top: -75px;
      right: -75px;
    
      border-radius: 50%;
    
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }

    &:nth-child(1) .circle {
      background-color: #952aff; 
    }
    &:nth-child(2) .circle {
      background-color: #cd3e94;
    }
    &:nth-child(3) .circle {
      background-color: #4c49ea; // Orange
    }
    
  
      &:hover {
        /* On hover, change the color of the icon and text */
        i {
          color: rgb(12, 5, 5); 
        }

        .circle{
          -webkit-transform: scale(10);
          -ms-transform: scale(10);
          transform: scale(10);
        }
  
        p {
          color: black;
        }
      }
  
      i {
        position: relative;
        font-size: 3rem; /* Icon size */
        color: var(--primary-text); /* Icon color */
        margin-bottom: 15px;
        transition: color 0.3s ease;
        z-index: 1;
        display: grid;
        justify-items: center;
      }
  
      p {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        color: var(--primary-text); /* Text color */
        transition: color 0.3s ease;
      }
    }
  }
  