.footer {
    background-color: #111827;
    color: #aaa;
    padding: 1.5rem 0;
  
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  
    .social-icons {
      margin-top: 1rem;
  
      }
    }

  