#home {
  margin-top: 5rem;
  background-color: none;
  .container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 3rem 5rem;
    h1 {
      color: var(--secondary-base-color);
      span {
        color: var(--primary-text);
        font-size: 3.5rem;
      }
    }
    h4 {
      color: var(--secondary-text);
      line-height: 3rem;
      span {
        color: var(--primary-base-color);
        font-size: 2.5rem;
        font-family: var(--tertiary-font);
      }
    }
    button {
      @extend %button;
      i {
        color: var(--secondary-text);
      }
      &:hover i {
        color: var(--tertiary-text);
      }
    }
    /* Code Container */
    .code-container {
      background: rgba(0, 0, 0, 0.503);
      padding: 1rem;
      border-radius: 8px;
      color: var(--primary-text);
      font-family: "Courier New", monospace;
      font-weight: 800;
      font-size: 1.1rem;
      width: 100%;
      margin-top: 2rem; /* Ensure spacing from top */
      white-space: pre-wrap; /* Ensures multi-line text is shown */
      word-wrap: break-word; /* Prevents text from overflowing */
      overflow: hidden;
      max-height: 450px; /* Max height for the container */
      overflow-y: auto; /* Makes content scrollable if it exceeds the max height */
      position: relative; /* Ensures cursor positioning works */
      z-index: 0;
    }

    .cursor {
      display: inline-block;
      width: 10px;
      height: 20px;
      background-color: var(--primary-text);
      animation: blink 0.7s step-end infinite;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
