@import "nav";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
//variables
:root {
  --primary-background: #0d0d0d;
  --secondary-background: #1a1a1a;
  --primary-text: #eaeaea;
  --secondary-text: #b3b3b3;
  --primary-base-color: #f2613f;
  --secondary-base-color: #fc512a;
}

html {
  scroll-behavior: smooth;
  body {
    font-size: 100%;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(135deg, #000000, #2c2c2c, #312c2c);
    #networkCanvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 1920px;  /* Fixed Width */
    height: 1080px; /* Fixed Height */
      z-index: -1;  /* Make sure it's behind all content */
      pointer-events: none;  /* Prevent interaction with canvas */
      display: block;
      margin-top: 60px;  /* Adjust to make space for navbar */
    }
  }

}




// Custom Scrollbar
::-webkit-scrollbar {
  width: 0.625rem;

  &-track {
    background: var(--white-color);
  }

  &-thumb {
    background: var(--primary-color);
  }
}
