@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Quicksand:wght@300..700&display=swap");
.navigation-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  padding: 0.75rem 1rem;
}
.navigation-wrap.scroll-on {
  background-color: var(--primary-background);
  padding: 0.5rem 0;
}
.navigation-wrap.menu-open {
  background: var(--secondary-background);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.navigation-wrap.menu-open .nav-link,
.navigation-wrap.menu-open .nav-link i {
  color: var(--primary-text) !important;
}
.navigation-wrap.menu-open .nav-link:hover,
.navigation-wrap.menu-open .nav-link:hover i {
  color: var(--primary-base-color);
}
.navigation-wrap .navbar-toggler {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
.navigation-wrap .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navigation-wrap .navbar-toggler i {
  color: var(--secondary-base-color);
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
  border-bottom: 2px solid transparent;
}
.navigation-wrap .nav-item .nav-link,
.navigation-wrap .nav-item .nav-link i {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--secondary-text);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}
.navigation-wrap .nav-item:hover {
  border-bottom: 2px solid var(--secondary-base-color);
}
.navigation-wrap .nav-item:hover .nav-link,
.navigation-wrap .nav-item:hover .nav-link i {
  color: var(--primary-base-color);
}
.navigation-wrap .nav-link {
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.navigation-wrap .nav-link.active {
  color: var(--secondary-base-color);
}
@media (max-width: 991px) {
  .navigation-wrap .navbar-collapse {
    background-color: var(--secondary-background);
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  .navigation-wrap .nav-link {
    margin: 0.5rem 0;
    color: var(--primary-text);
  }
}

#home {
  margin-top: 5rem;
  background-color: none;
  /* For very large screens (4K+) */
  /* For large screens (Desktop) */
  /* For medium-sized screens */
  /* For tablets (Landscape) */
  /* For tablets (Portrait) */
  /* For mobile screens */
  /* For very small mobile screens */
}
#home .container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 3rem 5rem;
}
#home .container h1 {
  color: var(--secondary-base-color);
  font-size: var(--font-h1);
}
#home .container h1 span {
  color: var(--primary-text);
  font-size: var(--font-span-h1);
}
#home .container h4 {
  color: var(--secondary-text);
  font-size: var(--font-h4);
  line-height: 3rem;
}
#home .container h4 span {
  color: var(--primary-base-color);
  font-size: var(--font-span-h4);
  font-family: var(--tertiary-font);
}
#home .container .left button i {
  color: var(--secondary-text);
}
#home .container .left button:hover i {
  color: var(--tertiary-text);
}

#home .container .right .code-container {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-left: 2.5rem solid #353535;
  padding: 1rem;
  border-radius: 8px;
  color: var(--primary-text);
  font-family: "Courier New", monospace;
  font-weight: 800;
  font-size: var(--font-code);
  width: 100%;
  margin-top: 2rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 450px; /* Max height for the container */
  overflow-y: auto; /* Makes content scrollable if it exceeds the max height */
  position: relative; /* Ensures cursor positioning works */
  z-index: 0;
}
#home .container .right .cursor {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: var(--primary-text);
  animation: blink 0.7s step-end infinite;
}
#home .container .right #toggleAnimation {
  width: 30px; /* Adjust the size */
  height: 30px; /* Same as width for perfect circle */
  background-color: var(--secondary-contrast);
  color: var(--secondary-background) !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-text);
  font-family: var(--secondary-font);
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 3rem;
}
#home .container .right #toggleAnimation:hover {
  background: none;
  border: 1px solid var(--primary-contrast);
  color: var(--primary-contrast) !important;
  transform: scale(1.1);
}
#home .container .right #toggleAnimation:focus {
  outline: none;
}
#home .container .right #toggleIcon {
  font-size: 13px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 2560px) {
  #home :root {
    --font-h1: 3vw;
    --font-span-h1: 3.2vw;
    --font-h4: 1.5vw;
    --font-span-h4: 2.5vw;
    --font-code: 1vw;
  }
}
@media (max-width: 1920px) {
  #home :root {
    --font-h1: 3.2vw;
    --font-span-h1: 3.4vw;
    --font-h4: 1.6vw;
    --font-span-h4: 2.7vw;
    --font-code: 1.1vw;
  }
}
@media (max-width: 1150px) {
  #home :root {
    --font-h1: 4vw;
    --font-span-h1: 4.2vw;
    --font-h4: 2vw;
    --font-span-h4: 3vw;
    --font-code: 1.2vw;
  }
}
@media (max-width: 1024px) {
  #home :root {
    --font-h1: 5vw;
    --font-span-h1: 5.5vw;
    --font-h4: 2.2vw;
    --font-span-h4: 3.3vw;
    --font-code: 1.3vw;
  }
}
@media (max-width: 768px) {
  #home :root {
    --font-h1: 5.5vw;
    --font-span-h1: 6vw;
    --font-h4: 2.5vw;
    --font-span-h4: 3.5vw;
    --font-code: 1.5vw;
  }
}
@media (max-width: 600px) {
  #home :root {
    --font-h1: 6vw;
    --font-span-h1: 6.5vw;
    --font-h4: 3vw;
    --font-span-h4: 4vw;
    --font-code: 1.6vw;
  }
}
@media (max-width: 450px) {
  #home :root {
    --font-h1: 7vw;
    --font-span-h1: 7.5vw;
    --font-h4: 3.2vw;
    --font-span-h4: 4.2vw;
    --font-code: 1.8vw;
  }
}
@media (max-width: 986px) {
  #home .code-container {
    height: 200px;
  }
}

#about {
  background-color: rgba(32, 32, 32, 0.8);
  margin-top: 3rem;
  padding: 2rem 0;
}
#about h1 {
  color: var(--primary-text);
}
#about h2 {
  color: var(--secondary-contrast);
  letter-spacing: 3px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
#about h2 span {
  color: var(--primary-base-color);
}
#about h4 {
  color: var(--secondary-text);
  line-height: 2.5rem;
}

#feature {
  padding: 40px 0;
}
#feature .container {
  max-width: 1140px;
  margin: 0 auto;
}
#feature h1 {
  color: var(--primary-text); /* Use your primary text color */
  margin-bottom: 30px; /* Spacing below the title */
  border-bottom: 3px solid var(--primary-base-color); /* Border under the title */
  padding-bottom: 10px;
}
#feature .row {
  justify-content: space-between; /* Space between columns */
}
#feature .text-center {
  text-align: center;
  position: relative;
  z-index: 1;
}
#feature .col-lg-4 {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  border-radius: 28px;
  display: block;
  padding: 30px 20px;
  background-color: var(--secondary-background); /* Use your secondary base color */
  overflow: hidden;
  position: relative;
}
#feature .col-lg-4 .circle {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 0;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
#feature .col-lg-4:nth-child(1) .circle {
  background-color: #952aff;
}
#feature .col-lg-4:nth-child(2) .circle {
  background-color: #cd3e94;
}
#feature .col-lg-4:nth-child(3) .circle {
  background-color: #4c49ea;
}

#feature .col-lg-4:hover i {
  color: rgb(12, 5, 5);
}
#feature .col-lg-4:hover .circle {
  transform: scale(10);
}
#feature .col-lg-4:hover p {
  color: black;
}
#feature .col-lg-4 i {
  position: relative;
  font-size: 3rem; /* Icon size */
  color: var(--primary-text); /* Icon color */
  margin-bottom: 15px;
  transition: color 0.3s ease;
  z-index: 1;
  display: grid;
  justify-items: center;
}
#feature .col-lg-4 p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-text); /* Text color */
  transition: color 0.3s ease;
}

#topic {
  padding: 40px 0px;
}
#topic .container {
  max-width: 1140px;
  margin: 0 auto;
}
#topic h2 {
  color: var(--primary-text);
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: 3px solid var(--primary-base-color);
  padding-bottom: 10px;
}
#topic .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#topic .topic-card .card-content {
  height: 250px;
  padding: 20px;
  color: white;
  background: linear-gradient(#111010, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  /* Icon Container */
}
#topic .topic-card .card-content:hover {
  rotate: 6deg;
}
#topic .topic-card .card-content .icon-container {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  display: grid;
  justify-items: center;
}
#topic .topic-card .card-content .icon-container img {
  width: 60px; /* Fixed icon size */
  height: 60px; /* Fixed icon size */
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s ease;
}
#topic .topic-card .card-content .card-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 10px;
}
#topic .topic-card .card-content p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  font-size: 1rem;
  transition: color 0.3s ease;
}
#topic .topic-card .card-content button {
  background-color: #e81cff;
  padding: 4px 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 50em;
  color: whitesmoke;
  position: relative;
  top: 40px;
}
#topic .topic-card .card-content button i {
  margin-left: 5px;
}
#topic .topic-card .card-content button:hover {
  background-color: #40c9ff;
  color: #000000;
  box-shadow: 0px 0px 20px rgb(64, 201, 255);
}
#topic .topic-card .card-content:hover .icon-container img {
  transform: translateY(-10px); /* Moves the icon up on hover */
}
#topic .topic-card .card-content:hover .card-name {
  color: var(--primary-base-color);
}
#topic .topic-card .card-content:hover p {
  color: var(--primary-base-color);
}
@media (max-width: 1820px) {
  #topic .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 10px;
  }
}
@media (max-width: 992px) {
  #topic .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  #topic .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  #topic .col-sm-12 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
  }
}
@media (max-width: 575px) {
  #topic .col-sm-12 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  #topic .col-sm-12 {
    flex: 0 0 auto;
    width: 50%;
    padding: 10px;
  }
}

#contact .container {
  padding: 2rem 0;
}
#contact h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #fff;
}
#contact .team-card {
  background-color: #111827;
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center; /* Centers the content horizontally */
  justify-content: space-between; /* Distributes space vertically */
}
#contact .team-card:hover {
  transform: translateY(-10px);
  box-shadow: 3px 5px rgba(94, 180, 237, 0.75);
}
#contact .team-card .team-photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
#contact .team-card h5 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
#contact .team-card p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
#contact .team-card p:last-child {
  font-style: italic;
}
#contact .team-card .social-icons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#contact .team-card .social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.25rem;
  transition: color 0.3s ease;
  display: inline-block;
}
#contact .team-card .social-icons a:hover {
  color: #0dcaf0;
}

.footer {
  background-color: #111827;
  color: #aaa;
  padding: 1.5rem 0;
}
.footer p {
  margin: 0;
  font-size: 0.9rem;
}
.footer .social-icons {
  margin-top: 1rem;
}

#testimonial {
  padding: 2rem 0;
  background-color: #111827;
  text-align: center;
}
#testimonial h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #fff;
}
#testimonial .owl-carousel {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
#testimonial .testimonial-card {
  background-color: #1f2937;
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}
#testimonial .testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.3);
}
#testimonial .testimonial-card .test-card-body .quote i {
  font-size: 24px;
  color: #ffcc00;
  animation: sparkle 3s infinite linear;
}
#testimonial .testimonial-card .test-card-body h2 {
  font-size: 1.25rem;
  margin: 10px 0;
  color: #fff;
}
#testimonial .testimonial-card .test-card-body p {
  font-size: 14px;
  color: #d1d5db;
  font-style: italic;
  margin: 10px 0;
}
#testimonial .testimonial-card .ratings i {
  color: #ffcc00;
  margin: 3px;
  font-size: 16px;
}
#testimonial .testimonial-card .profile .profile-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 15px;
}
#testimonial .testimonial-card .profile .profile-decs span {
  display: block;
  font-size: 14px;
  color: #d1d5db;
}
#testimonial .testimonial-card .profile .profile-decs span:first-child {
  font-weight: bold;
}
@media (max-width: 768px) {
  #testimonial .testimonial-card {
    padding: 15px;
    margin: 10px;
  }
  #testimonial .testimonial-card .test-card-body h2 {
    font-size: 1.1rem;
  }
  #testimonial .testimonial-card .test-card-body p {
    font-size: 13px;
  }
  #testimonial .testimonial-card .profile-image img {
    width: 60px;
    height: 60px;
  }
  #testimonial .testimonial-card.paused {
    transform: none;
    box-shadow: none;
    pointer-events: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

:root {
  --primary-background: #0d0d0d;
  --secondary-background: #1a1a1a;
  --primary-text: #eaeaea;
  --secondary-text: #c2c2c2;
  --tertiary-text: #001772;
  --secondary-base-color: #34a5f5;
  --primary-base-color: #00e5ff;
  --primary-contrast: #ffeebb;
  --secondary-contrast: #fcbd00;
  --primary-font: "Josefin Sans", sans-serif;
  --secondary-font: "Montserrat Alternates", serif;
  --tertiary-font: "Protest Revolution", sans-serif;
  --font-h1: 2.8vw;
  --font-span-h1: 3.2vw;
  --font-h4: 1.5vw;
  --font-span-h4: 2.5vw;
  --font-code: 0.9vw;
}

#networkCanvas {
  position: fixed;
  z-index: -1; /* Make sure it's behind all content */
  pointer-events: none; /* Prevent interaction with canvas */
  display: block;
  margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-size: 100%;
  background: linear-gradient(135deg, #000000, #0e0d1c, #2d2c31);
}
html body h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4.3rem;
  font-family: var(--primary-font);
}
html body h2 {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--primary-font);
  line-height: 3.5rem;
}
html body h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--primary-font);
  text-align: justify;
}
html body h5 {
  font-size: 1.2rem;
  font-weight: 700;
}
html body p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: justify;
  font-family: var(--secondry-font);
}

/* Button properties */
#home .container .left button {
  font-family: var(--secondry-font);
  font-weight: 800;
  font-size: 1.025rem;
  letter-spacing: 0.05rem;
  padding: 0.7rem 1.3rem;
  background: transparent;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.7s ease-out;
  color: var(--secondary-contrast);
  /* Top-left and Bottom-right Borders */
  /* Top-left corner */
  /* Bottom-right corner */
}
#home .container .left button i {
  color: var(--primary-text);
}
#home .container .left button::before, #home .container .left button::after {
  content: "";
  position: absolute;
  width: 95px; /* Adjust length */
  height: 35px;
  border: 3px solid var(--primary-contrast); /* Border color */
  -o-border-image: linear-gradient(45deg, var(--primary-contrast), var(--secondary-contrast)) 1;
     border-image: linear-gradient(45deg, var(--primary-contrast), var(--secondary-contrast)) 1;
}
#home .container .left button::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
#home .container .left button::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}
#home .container .left button:hover {
  color: black;
  background: linear-gradient(135deg, var(--primary-contrast), var(--secondary-contrast));
  border-radius: 7px;
  transition: all 0.7s ease-in-out;
  transform: scale(1.05);
  font-weight: 700;
}
#home .container .left button:hover::before, #home .container .left button:hover::after {
  border: none;
}

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}/*# sourceMappingURL=main.css.map */