@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Quicksand:wght@300..700&display=swap");
.navigation-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  padding: 0.75rem 1rem;
}
.navigation-wrap.scroll-on {
  background-color: var(--primary-background);
  box-shadow: 0 4px 6px rgba(141, 190, 255, 0.773);
  padding: 0.5rem 0;
}
.navigation-wrap.menu-open {
  background: var(--secondary-background);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.navigation-wrap.menu-open .nav-link,
.navigation-wrap.menu-open .nav-link i {
  color: var(--primary-text) !important;
}
.navigation-wrap.menu-open .nav-link:hover,
.navigation-wrap.menu-open .nav-link:hover i {
  color: var(--primary-base-color);
}
.navigation-wrap .navbar-toggler {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
.navigation-wrap .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navigation-wrap .navbar-toggler i {
  color: var(--secondary-base-color);
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
  border-bottom: 2px solid transparent;
}
.navigation-wrap .nav-item .nav-link,
.navigation-wrap .nav-item .nav-link i {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--secondary-text);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}
.navigation-wrap .nav-item:hover {
  border-bottom: 2px solid var(--secondary-base-color);
}
.navigation-wrap .nav-item:hover .nav-link,
.navigation-wrap .nav-item:hover .nav-link i {
  color: var(--primary-base-color);
}
.navigation-wrap .nav-link {
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.navigation-wrap .nav-link.active {
  color: var(--secondary-base-color);
}
@media (max-width: 991px) {
  .navigation-wrap .navbar-collapse {
    background-color: var(--secondary-background);
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  .navigation-wrap .nav-link {
    margin: 0.5rem 0;
    color: var(--primary-text);
  }
}

#home {
  margin-top: 5rem;
  background-color: none;
}
#home .container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 3rem 5rem;
  /* Code Container */
}
#home .container h1 {
  color: var(--secondary-base-color);
}
#home .container h1 span {
  color: var(--primary-text);
  font-size: 3.5rem;
}
#home .container h4 {
  color: var(--secondary-text);
  line-height: 3rem;
}
#home .container h4 span {
  color: var(--primary-base-color);
  font-size: 2.5rem;
  font-family: var(--tertiary-font);
}
#home .container button i {
  color: var(--secondary-text);
}
#home .container button:hover i {
  color: var(--tertiary-text);
}
#home .container .code-container {
  background: rgba(0, 0, 0, 0.503);
  padding: 1rem;
  border-radius: 8px;
  color: var(--primary-text);
  font-family: "Courier New", monospace;
  font-weight: 800;
  font-size: 1.1rem;
  width: 100%;
  margin-top: 2rem; /* Ensure spacing from top */
  white-space: pre-wrap; /* Ensures multi-line text is shown */
  word-wrap: break-word; /* Prevents text from overflowing */
  overflow: hidden;
  max-height: 450px; /* Max height for the container */
  overflow-y: auto; /* Makes content scrollable if it exceeds the max height */
  position: relative; /* Ensures cursor positioning works */
}
#home .container .cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: var(--primary-text);
  animation: blink 0.7s step-end infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about {
  background-color: rgba(32, 32, 32, 0.8);
  margin-top: 3rem;
  padding: 2rem 0;
}
#about h1 {
  color: var(--primary-text);
}
#about h2 {
  color: var(--secondary-contrast);
  letter-spacing: 3px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
#about h2 span {
  color: var(--primary-base-color);
}
#about h4 {
  color: var(--secondary-text);
  line-height: 2.5rem;
}

#feature {
  padding: 40px 0;
}
#feature .container {
  max-width: 1140px;
  margin: 0 auto;
}
#feature h1 {
  color: var(--primary-text); /* Use your primary text color */
  margin-bottom: 30px; /* Spacing below the title */
  border-bottom: 3px solid var(--primary-base-color); /* Border under the title */
  padding-bottom: 10px;
}
#feature .row {
  justify-content: space-between; /* Space between columns */
}
#feature .col-lg-4 {
  flex: 0 1 calc(33.33% - 20px); /* Make sure the columns stay in one row */
  background-color: rgb(234, 148, 119);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}
#feature .col-lg-4:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(201, 201, 201, 0.545);
  background-color: rgb(252, 106, 71);
  /* On hover, change the color of the icon and text */
}
#feature .col-lg-4:hover i {
  color: red;
}
#feature .col-lg-4:hover p {
  color: var(--primary-text);
}
#feature .col-lg-4 i {
  font-size: 3rem; /* Icon size */
  color: var(--primary-base-color);
  margin-bottom: 15px;
  transition: color 0.3s ease;
}
#feature .col-lg-4 p {
  color: var(--tertiary-text);
  transition: color 0.3s ease;
}

#topic {
  padding: 40px 0;
}
#topic .container {
  max-width: 1140px;
  margin: 0 auto;
}
#topic h2 {
  color: var(--primary-text);
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: 3px solid var(--primary-base-color);
  padding-bottom: 10px;
}
#topic .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#topic .topic-card .card-content {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.281);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  height: 220px;
  border: 1px solid #ddd;
  overflow: hidden; /* Prevent content from overflowing */
  /* Adding sparkle effect on hover */
  /* Icon Container */
}
#topic .topic-card .card-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
}
#topic .topic-card .card-content:hover::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(45deg, #ffcc00, #ff66ff, #00ccff, #ff66ff);
  background-size: 400% 400%;
  animation: sparkle 1.5s ease-in-out infinite;
  z-index: -1;
}
#topic .topic-card .card-content .icon-container {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
#topic .topic-card .card-content .icon-container img {
  width: 60px; /* Fixed icon size */
  height: 60px; /* Fixed icon size */
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s ease;
}
#topic .topic-card .card-content .card-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 10px;
}
#topic .topic-card .card-content p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  font-size: 1rem;
  transition: color 0.3s ease;
}
#topic .topic-card .card-content button {
  padding: 8px 16px;
  font-size: 0.9rem;
  background-color: var(--primary-base-color);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
#topic .topic-card .card-content button i {
  margin-left: 5px;
}
#topic .topic-card .card-content button:hover {
  background-color: var(--primary-text);
  color: #fff;
}
#topic .topic-card .card-content:hover .icon-container img {
  transform: translateY(-10px); /* Moves the icon up on hover */
}
#topic .topic-card .card-content:hover .card-name {
  color: var(--primary-base-color);
}
#topic .topic-card .card-content:hover p {
  color: var(--primary-base-color);
}

/* Keyframe for sparkle animation */
@keyframes sparkle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#contact .container {
  padding: 2rem 0;
}
#contact h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #fff;
}
#contact .team-card {
  background-color: #111827;
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center; /* Centers the content horizontally */
  justify-content: space-between; /* Distributes space vertically */
}
#contact .team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.3);
}
#contact .team-card .team-photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
#contact .team-card h5 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
#contact .team-card p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
#contact .team-card p:last-child {
  font-style: italic;
  color: #aaa;
}
#contact .team-card .social-icons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#contact .team-card .social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.25rem;
  transition: color 0.3s ease;
  display: inline-block;
}
#contact .team-card .social-icons a:hover {
  color: #0dcaf0;
}

.footer {
  background-color: #111827;
  color: #aaa;
  padding: 1.5rem 0;
}
.footer p {
  margin: 0;
  font-size: 0.9rem;
}
.footer .social-icons {
  margin-top: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

:root {
  --primary-background: #0d0d0d;
  --secondary-background: #1a1a1a;
  --primary-text: #eaeaea;
  --secondary-text: #c2c2c2;
  --tertiary-text: #001772;
  --secondary-base-color: #34a5f5;
  --primary-base-color: #00e5ff;
  --primary-contrast: #ffeebb;
  --secondary-contrast: #fcbd00;
  --primary-font: "Josefin Sans", sans-serif;
  --secondary-font: "Montserrat Alternates", serif;
  --tertiary-font: "Protest Revolution", sans-serif;
}

#networkCanvas {
  position: fixed;
  z-index: -1; /* Make sure it's behind all content */
  pointer-events: none; /* Prevent interaction with canvas */
  display: block;
  margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-size: 100%;
  background: linear-gradient(135deg, #000000, #0e0d1c, #2d2c31);
}
html body h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4rem;
  font-family: var(--primary-font);
}
html body h2 {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--primary-font);
  line-height: 3.5rem;
}
html body h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--primary-font);
  text-align: justify;
}
html body h5 {
  font-size: 1.2rem;
  font-weight: 700;
}
html body p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: justify;
  font-family: var(--secondry-font);
}

/* Button properties */
#home .container button {
  font-family: var(--secondry-font);
  font-weight: 800;
  font-size: 1.025rem;
  letter-spacing: 0.05rem;
  padding: 0.7rem 1.3rem;
  background: transparent;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.4s ease-out;
  color: var(--secondary-contrast);
  /* Top-left and Bottom-right Borders */
  /* Top-left corner */
  /* Bottom-right corner */
}
#home .container button i {
  color: var(--primary-text);
}
#home .container button::before, #home .container button::after {
  content: "";
  position: absolute;
  width: 95px; /* Adjust length */
  height: 35px;
  border: 3px solid var(--primary-contrast); /* Border color */
  -o-border-image: linear-gradient(45deg, var(--primary-contrast), var(--secondary-contrast)) 1;
     border-image: linear-gradient(45deg, var(--primary-contrast), var(--secondary-contrast)) 1;
}
#home .container button::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
#home .container button::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}
#home .container button:hover {
  color: black;
  background: linear-gradient(135deg, var(--primary-contrast), var(--secondary-contrast));
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  font-weight: 700;
}
#home .container button:hover::before, #home .container button:hover::after {
  border: none;
}

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}/*# sourceMappingURL=main.css.map */